# Dependency directories
**/node_modules/
node_modules/

# Local env files
**/.env
**/.env.*
.env

# Build outputs
**/dist/
**/build/
dist/
build/

# Zipped archive
*.zip

# System files
.DS_Store
Thumbs.db
